# Project 1

# The analysis of City Employee Salary in 2024

>
> 
>This project will navigate you into the "Citywide Payroll Data" CVS, collected from NYC 311 database.
>
> In this project, I filter the fiscal year(2024) and Pay Basis(per year).
> <em>*pay basis means whether the employee is paid on an hourly, per diem or annual basis</em>
>
>In other words, you will just see the the city employee annual salary in 2024.
>
>

### Step 1

Read the data in python. I download the data from NYC 311 database. The last update date is **October 8, 2025**. 

By using "df.info()", we can know the structure of this data framework. It contains 345649 observation.

In [158]:
import pandas as pd
df = pd.read_csv("Project1_Citywide_Payroll_Data_(Fiscal_Year)_20251107.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345649 entries, 0 to 345648
Data columns (total 17 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Fiscal Year                 345649 non-null  int64
 1   Payroll Number              345649 non-null  int64
 2   Agency Name                 345649 non-null  object
 3   Last Name                   345233 non-null  object
 4   First Name                  345229 non-null  object
 5   Mid Init                    211394 non-null  object
 6   Agency Start Date           345572 non-null  object
 7   Work Location Borough       345648 non-null  object
 8   Title Description           345604 non-null  object
 9   Leave Status as of June 30  345649 non-null  object
 10  Base Salary                 345649 non-null  object
 11  Pay Basis                   345649 non-null  object
 12  Regular Hours               345649 non-null  object
 13  Regular Gross Paid          345649 non-null  object
 14  OT Hours                    345649 non-null  object
 15  Total OT Paid               345649 non-null  object
 16  Total Other Pay             345649 non-null  object
dtypes: int64(2), object(15)
memory usage: 44.8+ MB

/var/folders/fr/8qbmjtgj49v19g0mt3ry69rm0000gn/T/ipykernel_34979/1311379292.py:2: DtypeWarning: Columns (12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Project1_Citywide_Payroll_Data_(Fiscal_Year)_20251107.csv")

### Step 2

Let look at the first five rows of this data framework to get a quick glimpse of the city employees' job description, base salary and so on.

In [159]:
df.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2024,67,ADMIN FOR CHILDREN'S SVCS,ROSADO,CARMEN,NaN,09/11/2000,MANHATTAN,ADM MANAGER-NON-MGRL,ACTIVE,"$91,676.00",per Annum,"1,820","$85,759.42",0,$0.00,"$4,865.36"
1,2024,67,ADMIN FOR CHILDREN'S SVCS,FRIEDMAN,ADAM,J,01/31/2022,MANHATTAN,COMPUTER ASSOCIATE,CEASED,"$55,985.00",per Annum,910,"$27,844.95",0,$0.00,$0.00
2,2024,67,ADMIN FOR CHILDREN'S SVCS,LUONG,SHELLEY,NaN,12/18/2023,MANHATTAN,CHILD WELFARE SPECIALIST,ACTIVE,"$58,526.00",per Annum,910,"$28,255.24",0,$0.00,$0.00
3,2024,67,ADMIN FOR CHILDREN'S SVCS,RODRIGUEZ,ANA,M,02/12/2024,MANHATTAN,PROGRAM EVALUATOR,ACTIVE,"$85,998.00",per Annum,630,"$28,743.48",0,$0.00,$0.00
4,2024,67,ADMIN FOR CHILDREN'S SVCS,BYNOE,SANDRA,S,02/05/2024,MANHATTAN,STAFF ANALYST,ACTIVE,"$80,008.00",per Annum,665,"$29,073.99",0,$0.00,$0.00

We will delve into the column called "Base Salary" to understand how much the city employees earn in the U.S.

Before we start, let's use "df.describe()" function to quickly get an overview of the mean, min, max, first quartile and so on.

In [ ]:
df['Base Salary'].describe()

count    345649.000000
mean      88558.058761
std       35721.904275
min       22500.000000
25%       56793.000000
50%       87767.000000
75%      110091.000000
max      414799.000000
Name: Base Salary, dtype: float64

### Step 3

Using pandas(pd) to calculate the mean, median and mode. Before calculating, it is important to convert the "basis salary" from money to floating so that we can do the calculation.

In [ ]:
df["Base Salary"]=df["Base Salary"].replace(r'[\$,]','',regex=True).astype(float)

mean_salary=df["Base Salary"].mean()
print(f'The average Base Salary(Annual) in NYC is: ${mean_salary:.2f}')

median_salary=df['Base Salary'].median()
print(f'The median Base Salary(Annual) in NYC is ${median_salary:.2f}')

mode_salary=df['Base Salary'].mode()[0]
print(f'The mode of Base Salary(Annual) in NYC is: ${mode_salary:.2f}')
print('Pay Attention: there are more than one mode in this dataset, it just elected the first mode as the answer')

The average Base Salary(Annual) in NYC is: $88558.06
The median Base Salary(Annual) in NYC is $87767.00
The mode of Base Salary(Annual) in NYC is: $105146.00
Pay Attention: there are more than one mode in this dataset, it just elected the first mode as the answer

### Step 4

If you do not want to use Pandas package, we can calculate it by using the basis python command.

My logic here is to add every row's salary and then divide the total rows.

In [171]:
#HARD WAY: MEAN
sum_salary=0
for i in df['Base Salary']:
    sum_salary+= i
average_salary= sum_salary/df['Base Salary'].count()
print(f"The means is ${average_salary:.2f} (by doing the hard way)")

The means is $88558.06 (by doing the hard way)

My logic here is to covert data framework into a list, which I am more familiar with. The list will be sorted from smallest to biggest. After sorted, it can be easy to identify the median.

To avoid hard code, how to find the median can be divide into whether the total row is odd or even.

In [172]:
#HARD WAY: MEDIAN
list_salary=[]
for i in df['Base Salary']:
    if i == i:
        list_salary.append(i)

list_salary.sort()
count=len(list_salary)

if count%2==0:
    count=count//2
    first_median= list_salary[count-1]
    second_median= list_salary[count]
    median = (first_median+second_median)/2
    print(f"The median is ${median} (by doing the hard way)")
else:
    count=count//2
    median=list_salary[count]
    print(f"The median is ${median} (by doing the hard way)")

The median is $87767.0 (by doing the hard way)

My logic here is to know which value appears most. By creating the dictionary, we can count how many time each value will appear.

In [173]:
# HARD WAY: Mode
mode=''
max_count=1
count_dict={}

for i in df["Base Salary"]:
    if i in count_dict:
        count_dict[i] += 1
    else:
        count_dict[i] = 1

for i in count_dict:
    if count_dict[i] > max_count:
        max_count=count_dict[i]
        mode=i


print(f"The mode is ${mode} (by doing the hard way).")

The mode is $105146.0 (by doing the hard way).

### Step 5

Let's see which Borough earns more if you want to be a city employee. More * means earning more

In [175]:
#Data Visualization
Borough_salary = df.groupby('Work Location Borough')['Base Salary'].mean()

print('The level of Base Salary in different Work Location Borough ')

for borough, value in Borough_salary.items():
    stars_count = int(value//10000)
    stars=""
    for i in range(stars_count):
        stars+="*"
    print(f"{borough}: {stars}")

The level of Base Salary in different Work Location Borough
ALBANY: *********
BRONX: *******
BROOKLYN: ********
DELAWARE: ********
DUTCHESS: **********
GREENE: ********
MANHATTAN: *********
NASSAU: *******
ORANGE: ******
OTHER: *************
PUTNAM: ********
QUEENS: ********
RICHMOND: ********
SCHOHARIE: ********
SULLIVAN: *********
ULSTER: *********
WASHINGTON DC: ***************
WESTCHESTER: *********